* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}

::-webkit-scrollbar-track {
  background-color: #0F172A;
}

::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #0172FF;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0F172A;
  color: #FFFFFF;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
}

#navbar {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  background: rgba(1, 114, 255, 0.05);
  backdrop-filter: blur(0.5rem);
  transform: translate(-50%, 0%);
  padding: 0;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  z-index: 998;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.3rem 0.5rem;
}

#navbar ul li a {
  margin: 0.1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

#navbar ul li a.active, #navbar ul li a:hover {
  background-color: #0172ff;
}

section {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0rem;
}

section .s_head {
  margin: 2rem;
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

section .s_head h2 {
  position: relative;
  font-size: 3rem;
  font-weight: 400;
}

section .s_head h2::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #FFFFFF;
  z-index: 3;
}

section .s_head p {
  margin: 0.5rem 0rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
}

section .container {
  position: relative;
  z-index: 2;
}

#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}

#hero #tsparticles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero .container .row .hero_intro {
  position: relative;
  display: flex;
  min-height: 40vh;
  padding: 0rem 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hero .container .row #intro_txt {
  padding: 2rem;
}

#hero .container .row #intro_txt a {
  text-decoration: none;
  transition: all 0.3s ease;
}

#hero .container .row #intro_txt a:active, #hero .container .row #intro_txt a:focus {
  color: #0172FF;
}

#hero .container .row #intro_txt h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-right: auto;
}

#hero .container .row #intro_txt h2 span {
  color: #0172FF;
}

#hero .container .row #intro_txt p {
  font-size: 1.2rem;
  font-weight: 300;
  width: 80%;
  margin-right: auto;
}

#hero .container .row #intro_txt .btns {
  margin-top: 1rem;
  margin-right: auto;
}

#hero .container .row #intro_txt .btns .btn {
  box-shadow: none;
  padding: 0.8rem 2.2rem;
  border-radius: 0.6rem;
  color: #FFFFFF;
  background-color: #0172FF;
  font-weight: 300;
  font-size: 1.05rem;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

#hero .container .row #intro_txt .btns .btn:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

#hero .container .row #intro_txt .btns .btn-play {
  cursor: pointer;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  background-color: #FFB703;
  margin: 0.5rem;
  margin-left: 2rem;
  color: #FFFFFF;
  transition: all 0.3s ease;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

#hero .container .row #intro_txt .btns .btn-play:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

#hero .container .row #intro_img {
  position: relative;
  z-index: 5;
}

#hero .container .row #intro_img #dots {
  transform: translate(-50%, 0%);
}

#hero .container .row #intro_img #robo {
  pointer-events: none;
  position: absolute;
  width: 75%;
}

#hero .container .row #intro_img #robo #robot {
  width: 100%;
  animation: topDown 2.5s ease-in-out infinite alternate;
}

#hero .container .row #intro_img #robo #doller {
  position: absolute;
  width: 8%;
  right: 3%;
  top: 3%;
}

#hero .container .row #intro_img::selection {
  background-color: transparent;
}

#hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, #0f172a, transparent);
}

@keyframes topDown {
  from {
    transform: translate(0%, -5%);
  }
  to {
    transform: translate(0%, 5%);
  }
}

#about {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-image: url("/assets/img/GECW.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#about .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#about .bg .filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(15, 23, 42, 0.8);
  z-index: 1;
}

#about .bg .filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background: linear-gradient(to bottom, #0f172a, transparent);
}

#about .bg .filter::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #0f172a, transparent);
}

#about .row {
  min-height: 50vh;
}

#about .row .ins {
  background-color: transparent;
  min-height: 10rem;
}

#about .row .ins h3 {
  color: #0172FF;
}

#about .row .ins p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
}

#about .row .card {
  position: relative;
  background: transparent;
  padding: 3rem;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
}

#about .row .card .box {
  position: relative;
  height: 20rem;
  width: 20rem;
}

#about .row .card .box .lbox {
  background-color: #0F172A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#about .row .card .box .lbox img {
  height: 80%;
  width: auto;
}

#about .row .card .box .lbox.trans {
  transform: translate(-40%, -50%) rotate(10deg);
}

#about .row .card .box .ibox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 2px solid #0172FF;
  border-radius: 2rem;
}
